# Primera entrega ML

### Título de proyecto

In [ ]:
# Escribir el título de proyecto en Markdown
titulo = "Optimización del Rendimiento Laboral: Un Enfoque de Machine Learning en Recursos Humanos"

### Tema

In [ ]:
# Breve descripción del proyecto
tema = "Empleo de Machine Learning en el ámbito de Recursos Humanos para optimizar el rendimiento laboral de los empleados. Se trata de utilizar datos previamente analizados  para crear un modelo predictivo que permita a los profesionales tomar decisiones más informadas y estratégicas en la gestión del talento humano."

In [ ]:
# Describir el tema en Markdown

En un entorno empresarial altamente competitivo, la eficiencia y el rendimiento de los empleados son cruciales para el éxito de una organización. Sin embargo, la gestión de recursos humanos a menudo se basa en decisiones subjetivas o enfoques tradicionales. Este proyecto busca transformar la gestión de Recursos Humanos utilizando el poder de los datos y el Machine Learning.

El enfoque comienza con un exhaustivo Análisis Exploratorio de Datos (EDA) que examina las relaciones entre diversas variables, como la edad, la relación con los supervisores, la colaboración entre compañeros, etc. Este análisis proporciona información valiosa sobre qué factores pueden estar influyendo en el rendimiento de los empleados.

Luego, se avanza hacia la creación y entrenamiento de un modelo de Machine Learning. Este modelo se basa en los patrones y relaciones identificados durante el EDA y tiene como objetivo predecir el rendimiento laboral futuro de los empleados. Esto permite a Recursos Humanos identificar de manera proactiva a aquellos empleados que podrían necesitar apoyo adicional o desarrollo.

En última instancia, este proyecto busca ayudar a las organizaciones a retener y aprovechar al máximo su talento humano, mejorando el rendimiento laboral, reduciendo la rotación y brindando una ventaja competitiva en un mercado laboral dinámico. El enfoque de Machine Learning proporciona una forma cuantitativa y basada en datos de abordar los desafíos de la gestión de recursos humanos en la era digital.

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

In [ ]:
tipo_ml = "Regresión"
target_descr = "Rendimiento laboral futuro"
metricas = [""Error absoluto medio (MAE)", "Error cuadrado medio (MSE)", "Coeficiente de determinación (R²)""]

## Dasets y enlaces de datasets en Markdown
enlaces = ["https://www.kaggle.com/datasets/gladdenme/factory-workers-daily-performance-attrition-s?resource=download"]

In [1]:
# load dataset

import pandas as pd

df = pd.read_csv("EDA.csv", encoding='latin1')

# df_1.head()

df.head()

/var/folders/gn/fdryr4k17t95s1_9lf01ghfw0000gn/T/ipykernel_91030/1978448362.py:5: DtypeWarning: Columns (35,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("EDA.csv", encoding='latin1')

,sub_ID,sub_fname,sub_lname,sub_age,sub_sex,sub_shift,sub_team,sub_role,sub_coll_IDs,sub_colls_same_sex_prtn,...,event_weekday_num,event_weekday_name,behav_comptype_h,behav_cause_h,actual_efficacy_h,record_comptype,record_cause,recorded_efficacy,recorded_note_from_sup,record_conf_matrix_h
0,98000001,Rebecca,Bauer,40,F,Shift 1,Team 1,Team Leader,"[98000002, 98000003, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Presence,NaN,NaN,Presence,NaN,NaN,NaN,NaN
1,98000001,Rebecca,Bauer,40,F,Shift 1,Team 1,Team Leader,"[98000002, 98000003, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Efficacy,NaN,1.489,Efficacy,NaN,1.2,NaN,NaN
2,98000002,Joan,Winter,61,F,Shift 1,Team 2,Team Leader,"[98000001, 98000003, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Presence,NaN,NaN,Presence,NaN,NaN,NaN,NaN
3,98000002,Joan,Winter,61,F,Shift 1,Team 2,Team Leader,"[98000001, 98000003, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Efficacy,NaN,1.023,Efficacy,NaN,0.8,NaN,NaN
4,98000003,Elizabeth,Martinez,20,F,Shift 1,Team 3,Team Leader,"[98000001, 98000002, 98000004, 98000005, 98000...",0.714286,...,4,Friday,Presence,NaN,NaN,Presence,NaN,NaN,NaN,NaN